html, body {
  margin:0;
  width: 100%;
  height: 100%;
  /* background: #2F2F31; */
  background-image: url(https://raw.githubusercontent.com/RominaMartin/DressItUp/master/images/svgBackground.png);
  position: absolute;
  overflow: hidden;
}


@font-face {
  font-family: 'SomethingStrange';
  src: url('./SomethingStrange.ttf');
}
@font-face {
  font-family: 'StrangerThings';
  src: url('./BenguiatBold.ttf');
}

.header {text-align: center; margin: 10px;}
.social a img { height: 1.5em; }
.header h1 {
  font-family: "StrangerThings";
  color: #380303;
  text-shadow: 2px 2px 1px #ed2b12,
    -2px -2px 5px #ed2b12;
}

.content {
  text-align: center;
  width: 100%;
}

svg {
  margin-top: 10px;
  max-width: 600px;
}

#text_inputs {
  text-align: center;
}

#text_inputs input {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: #333;
  text-transform: uppercase;
}
#text_inputs button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background: #ca1c24;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#text_inputs button:hover {
  background: #98151b;
}

#text_inputs button:disabled {
  cursor: initial;
  background: #ccc;
}